<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.KnowledgeSubjectMapper">
    
    <resultMap type="KnowledgeSubject" id="KnowledgeSubjectResult">
        <result property="subjectId"    column="subject_id"     />
        <result property="subjectName"  column="subject_name"   />
        <result property="subjectCode"  column="subject_code"   />
        <result property="description"  column="description"    />
        <result property="icon"         column="icon"           />
        <result property="sortOrder"    column="sort_order"     />
        <result property="status"       column="status"         />
        <result property="createBy"     column="create_by"      />
        <result property="createTime"   column="create_time"    />
        <result property="updateBy"     column="update_by"      />
        <result property="updateTime"   column="update_time"    />
    </resultMap>
    
    <sql id="selectKnowledgeSubjectVo">
        select subject_id, subject_name, subject_code, description, icon, sort_order, status, create_by, create_time, update_by, update_time
        from knowledge_subject
    </sql>
    
    <select id="selectKnowledgeSubjectBySubjectId" parameterType="Long" resultMap="KnowledgeSubjectResult">
        <include refid="selectKnowledgeSubjectVo"/>
        where subject_id = #{subjectId}
    </select>
    
    <select id="selectKnowledgeSubjectList" parameterType="KnowledgeSubject" resultMap="KnowledgeSubjectResult">
        <include refid="selectKnowledgeSubjectVo"/>
        <where>
            <if test="subjectName != null and subjectName != ''">
                AND subject_name like concat('%', #{subjectName}, '%')
            </if>
            <if test="subjectCode != null and subjectCode != ''">
                AND subject_code = #{subjectCode}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        order by sort_order asc, create_time desc
    </select>
    
    <insert id="insertKnowledgeSubject" parameterType="KnowledgeSubject" useGeneratedKeys="true" keyProperty="subjectId">
        insert into knowledge_subject(
            <if test="subjectName != null and subjectName != ''">subject_name,</if>
            <if test="subjectCode != null and subjectCode != ''">subject_code,</if>
            <if test="description != null">description,</if>
            <if test="icon != null">icon,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="subjectName != null and subjectName != ''">#{subjectName},</if>
            <if test="subjectCode != null and subjectCode != ''">#{subjectCode},</if>
            <if test="description != null">#{description},</if>
            <if test="icon != null">#{icon},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>
    
    <update id="updateKnowledgeSubject" parameterType="KnowledgeSubject">
        update knowledge_subject
        <set>
            <if test="subjectName != null and subjectName != ''">subject_name = #{subjectName},</if>
            <if test="subjectCode != null and subjectCode != ''">subject_code = #{subjectCode},</if>
            <if test="description != null">description = #{description},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where subject_id = #{subjectId}
    </update>
    
    <delete id="deleteKnowledgeSubjectBySubjectId" parameterType="Long">
        delete from knowledge_subject where subject_id = #{subjectId}
    </delete>
    
    <delete id="deleteKnowledgeSubjectBySubjectIds" parameterType="Long">
        delete from knowledge_subject where subject_id in
        <foreach item="subjectId" collection="array" open="(" separator="," close=")">
            #{subjectId}
        </foreach>
    </delete>
    
</mapper>
